/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* COMMON */
a {
  text-decoration: none;
}

.card_image img {
  width: 264px;
  height: 198px;
  margin: 25px auto;
}
/* 
.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
} */

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}



.cards_item {
  display: flex;
  padding: 15px 0;
  box-sizing: border-box;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 25%;
  }
}

.card {
  background: #FDFBF8;
  display: flex;
  flex-direction: column;
  border: 1px solid #888;
  box-shadow: 6px 6px 0px 0px rgb(0 0 0 / 9%);
  width: 306px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  padding: 20px;
}

/* 카드 호버 이미지 확대 */
.card:hover .card_images .card_image {

}

.card .card_bedge{
  background-color: #000;
  border-radius: 50%;
  width: 51px;
  height: 50px;
  position: absolute;
  border: 2px solid ;
  cursor: pointer;
  box-sizing: border-box;
}

.card .card_bedge:hover{
  padding: 3px;
}


.card .card_bedge img{
  width: 100%;
  border-radius: 50%;
}

.card_content {

}

.card_title {
  color: #0d0c22;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: 'Bungee', cursive;
}

.card_text {
  font-size: 0.875rem;  
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
  color: rgb(112, 112, 112);
}
.card_btn{
  margin-top: 10px;
  text-align: center;
}