.factoryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: "center";
  margin-bottom: 13px;
}

.factoryForm_title {
  margin-bottom: 30px;
  margin-left: -29px;
  width: 120%;
}

.factoryInput__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 400px;
}

.factoryInput__input {
  flex-grow: 1;
  height: 40px;
  padding: 0px 53px;
  color: white;
  border: 1px solid #c4302b;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
}

.factoryInput__arrow {
  position: absolute;
  right: 0;
  background-color: #c4302b;
  height: 40px;
  width: 40px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 20px;
  color: white;
}
