body{
  background: #faf6f1;
}


/* COMMON */
a {
  text-decoration: none;
}
img {
  display: block;
}


/* HEADER */
header {
  position: fixed;
  top: 0;
  width:100%;
  border-bottom: solid 1px #ccc;
  height: 90px;
  background: #faf6f1;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  z-index: 10;
}

header nav {
  margin: 0 auto;
  max-width: 1320px;
  position: relative;
}

header nav .container {
  width: 1320px;
  display: flex;
  justify-content: space-between;
  height: 90px;
}

header nav .container .left {
  display: flex;
}

header nav .container .left .main__logo {
  height: 75px;
  position: relative;
  margin-right: 35px;
}
header nav .container .left .main__logo img{
  margin-top: -17px;
}
header nav .container .left .search {
  position: relative;
  margin: auto 0;
  width: 300px;
  
}
header nav .container .left .search input{
  border: solid 1px #888;
  background: #fff;
  box-shadow: 6px 6px 0px 0px rgb(0 0 0 / 9%);
  padding: 4px 11px;
  width: 250px;
  height: 25px;
  font-family: 'Roboto Slab', serif;
}

header nav .container .right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

header nav .container .right .right__menu{
  display: flex;
}

header nav .container .right .right__menu .item{
  padding-left: 25px;
  display: flex;
  height: 120px;
}

/* 오른쪽 메뉴 글자 아이콘 일자정렬 */
header nav .container .right .right__menu .item .item__name {
  font-size: 14px;
  color: #2F3438;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 10px;
}
nav .container .right .right__menu .item .item__name>.material-icons{
  color: #7d7b78;
}

header nav .container .right .right__menu .item .item__contents {
  width: 170px;
  background-color: #fff;
  font-size: 14px;
  border: solid 1px #888;
  box-shadow: 2px 2px 30px 0px rgb(20 20 20 / 10%);
  transition: 1s;
  position: absolute;
  display: none;
  cursor: pointer;
  background: #FAF6F1;
}
/* 메인메뉴에 마우스 올렸을때 display:none이 display: block이되면서 나타나는 hover*/
header nav .container .right .right__menu .item:hover .item__contents {
  top: 90px;
  display: block;
}
header nav .container .right .right__menu .item:hover .item__contents>li {
  list-style: none;
  position: relative;
  padding: 10px 10px;
  text-align: left;
}

/* 헤더 드롭다운 메뉴 클릭시 호버 효과 ( 수정필요) */
header nav .container .right .right__menu .item:hover .item__contents>li:hover{
  background-color: #0d0c22;
}
header nav .container .right .right__menu .item:hover .item__contents>li:hover a{
  color: #e4e4e6;
}
header nav .container .right .right__menu .item:hover .item__contents>li>a {
  color: #606060;
  width: 100%;
  font-weight: normal;
}

/* HEADER BUTTON */
header nav .container .right .write_btn{
  margin-left: 20px;
}
header nav .container .right .write_btn .header__btn{
  width: 142px;
  height: 28px;
}
