@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.video__container {
  width: 1320px;
  margin: 150px auto;
  
}

.video__container .video__card {
  justify-content: center;
  position: relative;
  background-color: #fdfbf8;
  box-shadow: 6px 6px 0px 0px rgb(0 0 0 / 9%);
  border: 1px solid #888;
  box-sizing: border-box;
  height: auto;
  z-index: 10;
}

.video__container .video__card .video__inner {
  width: 1300px;
  margin: auto;
}

.video__container .video__card .video__title {
  font-size: 25px;
  margin: 5px 0;
  font-family: "LINESeedKR-Bd", sans-serif;
}
.video__container .video__card .player {
  margin: 0 0 30px;
}

.video__container .video__card .comment__container {
  margin: auto;
}

.video__container .video__card .comment__container .comment__icon {
  margin-bottom: 10px;
  font-size: 30px;
}
